body {
    background-color: rgb(0, 65, 0);
    overflow-x: hidden;
    color: white;
}

.heading {
    color: rgb(184, 255, 77);
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.content {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    width: 10vw;
    height: 7vh;
    color: white;
    border: none;
}

.startbtn button {
    background-color: #009779;
}

.startbtn:hover button{
    background-color: #03765f;
}

.stopbtn button {
    background-color: #0e85fc;
}

.stopbtn:hover button {
    background-color: #126ec9;
}

.resetbtn button {
    background-color: #c91400;
}

.resetbtn:hover button {
    background-color: #8f1b0e;
}

@media (max-width:576px) {
    .content {
        display: block;
    }
    .hour, .minutes, .seconds, .milliseconds {
        display: block;
        text-align: center;
    }

    .buttons {
        display: block;
    }
    .buttons div {
        display: flex;
        justify-content: center;
    }

    .buttons div button {
        width: 50vw;
        margin-top: 5vh;
    }
}